.pad-top {
  margin-top:20px;
}

.table-hpmon {
  border-collapse: collapse;
}
.table-hpmon th {
  font-size: 90%;
  text-align: left;
  background: #44b3e2;
  color: white;
  padding: 2px 8px;
  cursor: ns-resize;
}
.table-hpmon th.header {
  border-left: white 2px solid;
  background: #e3f7ff;
  color: #44b3e2;
  text-align: center;
  cursor: default;
}
.table-hpmon th.header a {
  color: #44b3e2;
  font-weight: normal;
}
.table-hpmon th.header a:visited {
  color: #44b3e2;
  font-weight: normal;
}
.table-hpmon th.lborder {
  border-left: white 2px solid;
}
.table-hpmon th.nosort {
  cursor: default;
}
.table-hpmon tbody td {
  font-size: 90%;
  border-top: silver solid 1px;
  padding: 2px 8px;
}
.table-hpmon tbody td.lborder {
  border-left: white 2px solid;
}
.table-hpmon tbody td.nowrap {
  white-space: nowrap;
}
.table-hpmon tbody td.toggle {
  color: #44b3e2;
  cursor: pointer;
}
.table-hpmon tbody td.partial {
  color: silver;
}
.center {
  text-align: center !important;
}
.right {
  text-align: right !important;
}
.table-hpmon tbody td.extra {
  border-top: none;
  background: white;
  color: grey;
}
.table-hpmon tbody tr:nth-child(4n+1) td {
  background: #efe;
}
.table-hpmon tbody tr:nth-child(4n+2) td {
  background: #efe;
}
.table-hpmon tbody tr:nth-child(4n+3) td {
  background: #eef;
}
.table-hpmon tbody tr:nth-child(4n+4) td {
  background: #eef;
}
.table-hpmon tbody tr.hilite td {
  background: #fee;
}
.table-hpmon tfoot td {
  border-top: silver solid 1px;
  text-align: center;
  background: white;
  color: grey;
}
