<!-- Photo Lightbox Component -->
<!-- Include this template where needed and ensure the parent component uses PhotoLightboxMixin -->
<div class="photo-lightbox" v-if="lightboxOpen" @click="closeLightbox">
    <div class="lightbox-content" @click.stop>
        <button class="lightbox-close" @click="closeLightbox">
            <i class="fas fa-times"></i>
        </button>
        
        <button 
            class="lightbox-nav lightbox-prev" 
            @click="previousPhoto" 
            v-if="system_photos && system_photos.length > 1"
        >
            <i class="fas fa-chevron-left"></i>
        </button>
        
        <div class="lightbox-image-container" v-if="system_photos && system_photos.length > 0">
            <img 
                :src="system_photos[currentPhotoIndex].server_url || (path + system_photos[currentPhotoIndex].url)" 
                :alt="system_photos[currentPhotoIndex].name || system_photos[currentPhotoIndex].original_filename"
                class="lightbox-image"
            >
            <div class="lightbox-caption">
                <div class="caption-main">
                    <strong>{{ system_photos[currentPhotoIndex].name || system_photos[currentPhotoIndex].original_filename }}</strong>
                    <span v-if="system_photos[currentPhotoIndex].photo_type" class="photo-type-badge">
                        {{ formatPhotoType(system_photos[currentPhotoIndex].photo_type) }}
                    </span>
                </div>
                <div class="caption-info">
                    Photo {{ currentPhotoIndex + 1 }} of {{ system_photos.length }}
                </div>
            </div>
        </div>
        
        <button 
            class="lightbox-nav lightbox-next" 
            @click="nextPhoto" 
            v-if="system_photos && system_photos.length > 1"
        >
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</div>