# Base docker compose, added to by docker-compose.override or docker-compose.prod. See Readme.md

version: '2'

services:
  # PHP & apache container using offical Docker PHP iamge
  web:
    build: .
    links:
      - db
    ports:
      # Expose Emoncms on localhost port 8080
      - 8080:80
    volumes:
      # Mount emoncms files from local FS for dev
      - ./www:/var/www/heatpumpmonitororg
    env_file:
      # Use default enviroment variables file for dev
      - 'default.docker-env'
    depends_on:
      load_dev_env_data:
        condition: service_completed_successfully

  # This container will load the data (if requested) and then stop
  load_dev_env_data:
    build: .
    links:
      - db
    volumes:
      # Mount emoncms files from local FS for dev
      - ./www:/var/www/heatpumpmonitororg
      - ./load_dev_env_data.php:/var/load_dev_env_data.php:ro
      - ./load_installer_logos.php:/var/load_installer_logos.php:ro
      - ./generate_thumbnails.php:/var/generate_thumbnails.php:ro
    env_file:
      # Use default enviroment variables file for dev
      - 'default.docker-env'
    environment:
      # Dont reload all data, just users and system meta data
      - "RELOAD_ALL=0"
      # Clear database before loading data
      - "CLEAR_DB=0"
      # Load the users
      - "LOAD_USERS=1"
      # Load system meta data
      - "LOAD_SYSTEM_META=1"
      # Loading running stats is enough to provide the list of systems
      - "LOAD_RUNNING_STATS=1"
      # Use only when required, this is slow and uses server bandwidth
      - "LOAD_MONTHLY_STATS=0"
      #- "LOAD_MONTHLY_STATS=[1,2,204,789]"
      # Use only when required, this is even slower and uses server bandwidth
      - "LOAD_DAILY_STATS=0"
      #- "LOAD_DAILY_STATS=[1,2,204,789]"
      # Load the manufacturers
      - "LOAD_MANUFACTURERS=1"
      # Load the heatpump models
      - "LOAD_HEATPUMP_MODELS=1"
    # working_dir: /var/www/heatpumpmonitororg  # Set the working directory
    entrypoint: "php /var/load_dev_env_data.php"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mariadb:11.0
    environment:
      - "MYSQL_HOST=localhost"
      - "MARIADB_AUTO_UPGRADE=1"
      - "MARIADB_INITDB_SKIP_TZINFO=1"
    env_file:
      - 'default.docker-env'
    volumes:
      - emon-db-data:/var/lib/mysql
    logging:
      driver: json-file
      options:
        max-size: "10m"
    ports:
      - 3306:3306
    healthcheck:
      test:
        [
          "CMD",
          "/usr/local/bin/healthcheck.sh",
          "--su-mysql",
          "--connect",
          "--innodb_initialized"
        ]
      interval: 1s
      start_period: 60s
      timeout: 2s
      retries: 10
volumes:
  emon-db-data:
    driver: local
