<!DOCTYPE html>
<html lang="en">
<head>
  <title>HeatpumpMonitor.org</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="style.css" />
</head>

<body>

<h1>HeatpumpMonitor.org</h1>
  
<div id="app">
  <p>An open source initiative to share and compare heat pump performance data. (webhook test)</p>
  
  <p>Here you can see a variety of installations monitored with <a href="https://openenergymonitor.org/">OpenEnergyMonitor</a>, and compare detailed statistic to see how performance can vary.</p>
  <p>If you're running a heat pump with <b>emoncms</b> and the <i>My Heat Pump</i> app, you can add your details here using the button over there &raquo;<p>
   <p><i>(Submissions are moderated, and so won't appear right away. Check back in a day or two)</i></p>
   <p>Join in with discussion of the results on the forums here <a href="https://community.openenergymonitor.org/t/public-heatpump-dashboards">Public heat pump dashboard</a>.</p>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSflTBeRpuWBxXdL2UqkB5pY60tTTGLI201fRaK6ZZEV7Dy70g/viewform" target="_blank" class="addhp">+ My Heat Pump</a>
  <form id="search">
    <P><b>Filter:</b> <input name="query" v-model="filterKey"></p>
  </form>
  <table width="100%">
    <thead>
      <tr>
        <th @click="sort('hp_model')">Make / Model</th>
        <th @click="sort('hp_type')">Type</th>
        <th @click="sort('hp_output')">Output</th>
        <th @click="sort('heat_loss')">Heat Loss</th>
        <th @click="sort('emitters')">Emitters</th>
        <th @click="sort('property')">Property</th>
        <th @click="sort('age')">Built</th>
        <th @click="sort('floor_area')">Floor Area</th>
        <th @click="sort('annual_kwh')">Annual Heat</th>
        <th @click="sort('location')">Location</th>
        <th @click="sort('insulation')">Insulation</th>
        <th class="nosort">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="n in sortedNodes">
        <td v-bind:title="n.hp_model">{{n.hp_model.replace(/ \(.*\)/, ' &mldr;')}}</td>
        <td class="nowrap">{{n.hp_type}}</td>
        <td class="nowrap">{{n.hp_output}} kW</td>
        <td class="nowrap">{{n.heat_loss}} kW</td>
        <td v-bind:title="n.emitters">{{n.emitters.split(' ').slice(0, 2).join(' ')}}
            {{n.emitters.split(' ').length > 2 ? '&mldr;' : ''}}</td>
        <td>{{n.property}}</td>
        <td class="nowrap">{{n.age.replace(' to ', '-').trim()}}</td>
        <td class="nowrap">{{n.floor_area}} m&sup2;</td>
        <td class="nowrap">{{n.annual_kwh}} kWh</td>
        <td>{{n.location}}</td>   
        <td v-bind:title="n.insulation">{{n.insulation.split(' ').slice(0, 2).join(' ')}}
           {{n.insulation.split(' ').length > 2 ? '&mldr;' : ''}}</td>
        <td><a v-bind:href="n.url" target="_blank">Link &raquo;</a></td>
        <!--td v-bind:title="n.notes">{{n.notes != '' ? '&#x1F5D2;' : ''}}</td-->
      </tr>
    </tbody>
  </table>
  
</div>

<script src="table.js"></script>

<div class="footer">An <a href="https://openenergymonitor.org/">OpenEnergyMonitor.org</a> community initiative</div>
</body>
</html>


