body {
  font-family: sans-serif 
}
h1 {
  margin: -8px;
  padding: 8px;
  background: #44b3e2;
  color: white;
  width: 100%;
}
table {
  border-collapse: collapse;
}
table th {
  font-size: 90%;
  text-align: left;
  background: #44b3e2;
  color: white;
  padding: 2px 8px;
  cursor: ns-resize;
}
table th.header {
  border-left: white 2px solid;
  background: #e3f7ff;
  color: #44b3e2;
  text-align: center;
  cursor: default;
}
table th.border {
  border-left: white 2px solid;
}
table th.nosort {
  cursor: default;
}
tbody td {
  font-size: 90%;
  border-top: silver solid 1px;
  padding: 2px 8px;
}
tbody td.border {
  border-left: white 2px solid;
}
tbody td.nowrap {
  white-space: nowrap;
}
tbody td.toggle {
  color: #44b3e2;
  cursor: pointer;
}
tbody td.partial {
  color: grey;
}
.center {
  text-align: center !important;
}
.right {
  text-align: right !important;
}
tbody td.extra {
  border-top: none;
  background: white;
  color: grey;
}
tbody tr:nth-child(4n+1) td {
  background: #efe;
}
tbody tr:nth-child(4n+2) td {
  background: #efe;
}
tbody tr:nth-child(4n+3) td {
  background: #eef;
}
tbody tr:nth-child(4n+4) td {
  background: #eef;
}
tfoot td {
  border-top: silver solid 1px;
  text-align: center;
  background: white;
  color: grey;
}
div.footer {
  padding: 4px;
  margin-top: 32px;
  border-top: solid 1px silver;
  text-align: center;
  color: gray;
}

