<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.18.1.min.js" charset="utf-8"></script>

<div id="app">
<p>Compare hourly performance data over the last 30 days</p>
  <label>Mode</label>
  <select v-model="mode" @change="change_mode">
    <option value="cop_vs_dt">COP vs Flow - Outside temperature</option>
    <option value="cop_vs_outside">COP vs Outside temperature</option>
    <option value="cop_vs_flow">COP vs Flow temperature</option>
    <option value="cop_vs_return">COP vs Return temperature</option>
    <option value="cop_vs_carnot">COP vs Carnot COP</option>
    <option value="heat_vs_outside">Heat output vs Outside temperature</option>
    <option value="elec_vs_outside">Electric input vs Outside temperature</option>
    <option value="profile">Average Profile</option>
  </select>
  
  <label>Interval</label>
  <select v-model="interval" @change="change_interval">
    <option value="3600">Hourly</option>
    <option value="86400">Daily</option>
  </select>
  
  <label>Match dates</label>
  <input v-model="match_dates" type="checkbox" @click="match_dates_fn">
  
  <button @click="add_system">+ Add system</button>
  
  <br><br>
  <!--<select><option v-for="days, index in days_in_month" v-bind:value="index">{{ days }}</option></select>
  <select><option v-for="month, index in months" v-bind:value="index">{{ month }}</option></select>-->
  <table>
  <tr>
    <th>Color</th>
    <th>System</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
  </tr>
  <tr v-for="system,idx in selected_systems">
    <td><input type="color" v-model="system.color" @change="change_color"></td>
    <td><select v-model="system.id" @change="change_system(idx)"><option v-for="s,i in system_list" v-bind:value="i">{{ s.location }},  {{ s.hp_model }}, {{ s.hp_output }} kW</option></select></td>
    <td><input v-if="idx==0 || !match_dates" v-model="system.start" type="date" @change="date_changed(idx)"></td>
    <td><input v-if="idx==0 || !match_dates" v-model="system.end" type="date" @change="date_changed(idx)"></td>
    <td><button v-if="system.time_changed" @click="change_dates(idx)">Load</button></td>
    <td><button v-if="idx>0" @click="remove_system(idx)">Remove</button>
  </tr>
  </table>
</div>

<div id="gd" style="height:690px"></div>

<script src="views/compare.js?v=1"></script>
