<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  
<div id="app" class="pad-top">
  <div class="input-group mb-3" style="width:300px; float:right">
    <span class="input-group-text">Filter</span>
    <input id="search" name="query" v-model="filterKey" class="form-control">
  </div>
  <p>Here you can see some detailed statistics for these heat pump over the last 30 days, for when they are running.</p>
  <table width="100%" class="table-hpmon">
    <thead>
      <tr>
        <th class="header">&nbsp;</td>
        <th class="header" colspan="4">Property</th>
        <th class="header" colspan="3">Heating system</th>
        <th class="header" colspan="4">Performance (30 days)</th>
        <th class="header" colspan="5">Average stats when running</th>
        <th class="header">&nbsp;</td>
      </tr>
      <tr>
        <th @click="sort('id', 'asc')" class="center">#</td>
        <!-- Property -->
        <th @click="sort('location', 'asc')">Location</th>
        <th @click="sort('property', 'asc')">Type</th>
        <th @click="sort('age', 'desc')">Built</th>
        <th @click="sort('floor_area', 'desc')" class="right">Floor Area</th>
        
        <!-- Heating System -->
        <th @click="sort('hp_model', 'asc')" class="border">Make / Model</th>
        <th @click="sort('hp_output', 'desc')" class="right">Output</th>
        <th @click="sort('hp_type', 'asc')">Source</th>
        
        <!-- Stats -->
        <th @click="sort('full_period_elec_kwh', 'desc')" class="border right">Electric</th>
        <th @click="sort('full_period_heat_kwh', 'desc')" class="right">Heat</th>
        <th @click="sort('full_period_cop', 'desc')" class="center">COP</th>
        <th @click="sort('standby_kwh', 'desc')" class="right">Standby</th>
        <th @click="sort('when_running_elec_W', 'desc')" class="border right">Electric</th>
        <th @click="sort('when_running_heat_W', 'desc')" class="right">Heat</th>
        <th @click="sort('when_running_flowT', 'desc')" class="center">Flow</th>
        <th @click="sort('when_running_flow_minus_return', 'desc')" class="center">Delta</th>
        <th @click="sort('when_running_outsideT', 'desc')" class="center">Outside</th>
        <th class="nosort border">Charts</th>
      </tr>
    </thead>

    <tbody>
      <template v-for="n in sortedNodes"><tr v-bind:id="'row'+n.id" v-if="hasStats(n)" v-bind:class="hiliteClass(n)">
        <!-- Property -->
        <td class="toggle" onclick="toggle(this)" align="right" v-bind:title="'#'+n.id">&plusb;</td>
        <td>{{n.location}} {{isNew(n) ? '&#10024;' : ''}}</td> 
        <td>{{n.property}}</td>
        <td class="nowrap">{{n.age.replace(' to ', '-').trim()}}</td>
        <td class="nowrap" align="right">{{unit_dp(n.floor_area, 'm&sup2;')}}</td>
           
        <!-- Heating System -->
        <td class="border" v-bind:title="n.hp_model">{{n.hp_model.replace(/ \(.*\)/, ' &mldr;')}}</td>
        <td class="nowrap" align="right">{{unit_dp(n.hp_output, 'kW')}}</td>
        <td class="nowrap">{{n.hp_type.split(' ')[0]}}</td>
        
        <!-- Stats -->
        <td v-bind:class="monthClass(n) + ' nowrap border'" align="right">
           {{unit_dp(n.full_period_elec_kwh, 'kWh', 0)}}</td>
        <td v-bind:class="monthClass(n) + ' nowrap'" align="right">
           {{unit_dp(n.full_period_heat_kwh, 'kWh', 0)}}</td>
        <td v-bind:class="monthClass(n) + ' nowrap center'">
           {{n.full_period_cop > 0 ? n.full_period_cop.toFixed(2) : '-'}}</td>
        <td v-bind:class="monthClass(n) + ' nowrap'" align="right">
           {{unit_dp(n.standby_kwh, 'kWh', 1)}}</td>
        <td v-bind:class="monthClass(n) + ' nowrap border'" align="right">
           {{unit_dp(n.when_running_elec_W, 'W', 0)}}</td>
        <td v-bind:class="monthClass(n) + ' nowrap'" align="right">
           {{unit_dp(n.when_running_heat_W, 'W', 0)}}</td>
        <td v-bind:class="monthClass(n) + ' nowrap center'">
           {{unit_dp(n.when_running_flowT, '&#8451;', 0)}}</td>
        <td v-bind:class="monthClass(n) + ' nowrap center'">
           +{{unit_dp(n.when_running_flow_minus_return, '&#8451;', 1)}}</td>
        <td v-bind:class="monthClass(n) + ' nowrap center'">
           {{unit_dp(n.when_running_outsideT, '&#8451;', 1)}}</td>
        <td class="border"><a v-bind:href="n.url" target="_blank">Link &raquo;</a></td>
      </tr>

      <tr class="extra" style="display: none">
        <td class="extra">&nbsp;</td>
        <td colspan="17" class="extra">
          <b v-if="n.heat_demand">Heat Demand:</b> {{unit_dp(n.heat_demand, 'kWh')}}
          <b v-if="n.insulation">Insulation:</b> {{n.insulation}}
          <b v-if="n.emitters">Emitters:</b> {{n.emitters}}
          <b v-if="n.refrigerant">Refrigerant:</b> {{n.refrigerant}}
          <b v-if="n.flow_temp">Flow Temp:</b> {{n.flow_temp}}
          <b v-if="n.buffer">Buffer:</b> {{n.buffer}}
          <b v-if="n.zones">Zones:</b> {{n.zones}}
          <b v-if="n.controls">Controls:</b> {{n.controls}}
          <b v-if="n.freeze">Anti-Freeze:</b> {{n.freeze}}
          <b v-if="n.dhw">DHW:</b> {{n.dhw}}
          <b v-if="n.legionella">Legionella:</b> {{n.legionella}}
          <b v-if="n.notes">Notes:</b> {{n.notes}}
        </td>
      </tr></template>
    </tbody>
    
    <tfoot>
      <td colspan="1" class="footer"></td>
      <td colspan="4" class="footer">Recently added systems denoted by &#10024;</td>
      <td colspan="3" class="footer"></td>
      <td colspan="9" class="footer"><i>Incomplete data in grey</i></td>
      <td colspan="1" class="footer"></td>
    </tfoot>
  </table>
  
</div>

<script>var userid = <?php echo $userid; ?>;</script>
<script src="views/table.js?v=3.4"></script>
